Title: Distributed Strategies for Pursuit-Evasion Games with A Single Evader and Multiple Pursuers: A survey

Keywords: pursuit-evasion game, differential game, distributed strategy，multiagent system, tracking problem, entrapment, Hamilton-Jacobi-Isaacs equation

Email: 2586219260@qq.com

